body{

    font: 20px Arial, sans-serif;
}
/*FORMATAÇÃO DA PAGINA INDEX */

.navbar{
    background-color: rgba(255, 142, 27, 0.8);
    padding: 0px;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    margin-left: 15px;
}
.BoasVindas, .conteudo{
    font-family: "Apple Color Emoji";
    padding-top: 70px;
    background-color: white;
}
.BoasVindas h2{
    color: #ff8e1b;
    font-family: "Palatino Linotype";
    width: 100%;
}
.Cardapio{
    background-color: #ff8e1b;
}
.Cardapio h2{
    color: white;
    font-size: 36px;
    width: 100%;
}
@media (max-width:991px) {
    #menu{
        display: none;
    }
    .rounded-circle{
        width: 100%;
    }
    .navbar{
        padding: 40px;
    }
    .BoasVindas{
        padding-top: 185px;
    }
    section p{
        font-size: 40px;
    }
    section h2{
        font-size: 80px;
    }
    .navbar-light .navbar-nav .nav-link{
        font-size: 40px;
        padding-top: 80px;
    }
    .bt-menu{
        font-size: 60px;
    }
}
/*FIM DA FORMATAÇÃO DA PAGINA INDEX */

/*FORMATAÇÃO DA PAGINA PEDIR PIZZA */
#pizza{
    position: relative;
    display: flex;
}
.bandeja{
    height: 100%;
}
.entrada{
    width: 80%;
    height: 50px;
}
.entrada-hidden{
    opacity: 0;
    width: 50%;
    position: absolute;
    height: 100%;

    /* CONFIGURANDO OS BOTÕES DE ESCOLHER SABORES */
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;!important;
    background: #ff8e1b;
    background-image: none;

    flex: 1;
    padding: 0 .5em;
    color: white;
}
.entrada-hidden::-ms-expand{
    display: none;
}
.entrada-hidden optgroup{
    font-size: 20px;
}
.right{
    right: 0;
}
@media (max-width: 9911px) {
    .bandeja{
        width: 50%;
    }
    .entrada{
        width: 100%;
    }
}
/*FIM DA FORMATAÇÃO DA PAGINA PEDIR PIZZA */